article{
    display: flex;
    flex-direction: row;
}

article div{
    width: 100%;
    font-size: 1em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    text-align: center;
}

body{
    background-color: #363537;
    color: #89A7A7;
}